/* CU Marketing Services */
.shake-up-down {
  animation: shake-up-down 0.5s alternate infinite;
}
@keyframes shake-up-down {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(25%);
  }
}

.open-menu {
  animation: open-menu 0.25s forwards;
}
@keyframes open-menu {
  0% {
    height: 0;
  }
  100% {
    height: calc(100vh - 145px);
  }
}

.close-menu {
  animation: close-menu 0.25s forwards;
}
@keyframes close-menu {
  0% {
    height: calc(100vh - 145px);
  }
  100% {
    height: 0;
  }
}
