/* CU Marketing Services */

@media only screen and (max-width: 800px) {
  /* BODY */
  body {
    font-size: 1rem;
  }

  /* header */
  .header__content-wrapper {
    width: 100%;
  }

  .header__title {
    justify-content: center;
    padding: 0.5rem;
    font-size: 1.2rem;
  }

  .header__nav {
    display: none;
    flex-direction: column;
  }

  .header__menu-btn {
    display: flex;
  }

  .header__menu {
    display: flex;
  }

  /* Footer */
  .footer {
    padding: 0;
    text-align: center;
  }

  .footer__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
  }

  .footer__title h3 {
    padding: 0;
    margin: 0;
  }

  .phone-btn {
    background-color: #21b46f;
    color: #ffffff;
    width: 12rem;
    height: 0.5rem;
    cursor: pointer;
  }

  /* Page Section */
  .page-section {
    width: 100%;
  }

  /* Section Sub Wrapper */
  .section-sub-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .--column-reverse-m {
    flex-direction: column-reverse;
  }

  .section-sub-wrapper__item {
    width: 100%;
  }

  /* Hero Image */
  .hero-img__header {
    display: none;
  }

  .hero-img__txt {
    font-size: 1.5rem;
    color: white;
  }

  .hero-img__btn {
    padding: 0.5rem;
    font-size: 1rem;
  }

  /* Testimony */
  .testimony-box {
    flex-direction: column;
  }

  .testimony {
    width: calc(100% - 2rem);
  }

  /* Blog */
  .blog {
    width: calc(100% - 2rem);
  }

  .submit {
    width: 40%;
  }

  /* This class is used to hide things. */
  .hidden {
    display: none;
  }
}
